<!-- Place everything that's in the form but after the attendee stuff here -->
<div class="title-container">
    <div class="title">
      Personal Contact
    </div>
  </div>

<div class="page-border">
    <div class="form-control">
      <form name="attendee_info" id="attendee_info">
        <div class="FormRow">
          <div class="MediumFormFieldContainer">
            <label class="control-label" for="address">Address</label>
            <input class="form-control" type="text" placeholder="Enter Your Address" name="address" required>
          </div>
        </div>
        <div class="FormRow">
          <div class="MediumFormFieldContainer">
            <label class="control-label" for="address">Address 2</label>
            <input class="form-control" type="text" placeholder="N/A" name="address" required>
          </div>
        </div>
        <div class="FormRow">
          <div class="MediumFormFieldContainer">
            <label class="control-label" for="city">City</label>
            <input class="form-control" type="text" placeholder="City" name="city" required>
          </div>
        </div>    
      </form>
    </div>
</div>