<!-- Place everything that's in the form but after the attendee stuff here -->

<div [formGroup]="infoFormGroup">
  <div class="title-container">
    <div class="title">
      Personal Contact
    </div>
  </div>
  <div class="page-border">
    <div class="form-control">

      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">Address</label>
          <input class="form-control" type="text" placeholder="Enter Your Address" formControlName="address_one" required>
        </div>
      </div>
      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">Address 2</label>
          <input class="form-control" type="text" placeholder="N/A" formControlName="address_two">
        </div>
      </div>
      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">City</label>
          <input class="form-control" type="text" placeholder="Enter Your City" formControlName="city" required>
        </div>
      </div>
      <div class="FormRow">
        <div class="MediumFormFieldContainer">
          <label class="control-label">State</label>
          <input class="form-control" type="text" placeholder="Enter Your State" formControlName="state" required>
        </div>
        <div class="MediumFormFieldContainer">
          <label class="control-label">Zip Code</label>
          <input class="form-control" type="number" placeholder=" Enter Your Zip Code" formControlName="zip" required>
        </div>
      </div>
      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">Email</label>
          <input class="form-control" type="email" placeholder="Enter Your Email" formControlName="email" required>
        </div>
      </div>
      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">Your Church</label>
          <input class="form-control" type="text" placeholder="Enter Your Church Name" formControlName="church_name">
        </div>
      </div>
      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">Your Church Point of Contact Name</label>
          <input class="form-control" type="text" placeholder="Enter Your Church Point of Contact Name" 
            formControlName="church_poc_name">
        </div>
      </div>
      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">Your Church Point of Contact Number</label>
          <input class="form-control" type="number" placeholder="Enter Your Church Point of Contact Phone Number" 
            formControlName="church_poc_num">
        </div>
      </div>
    </div>
  </div>

  <div class="title-container">
    <div class="title">
      Emergency Contact
    </div>
  </div>

  <div class="page-border">
    <div class="form-control">
      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">First Name</label>
          <input class="form-control" type="text" placeholder="Enter First Name" formControlName="ec_first_name" required>
        </div>
        <div class="FormFieldContainer">
          <label class="control-label">Last Name</label>
          <input class="form-control" type="text" placeholder="Enter Last Name" formControlName="ec_last_name" required>
        </div>
      </div>
      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">Phone Number</label>
          <input class="form-control" type="number" placeholder="Enter Phone Number" formControlName="ec_phone_num" required>
        </div>
      </div>
      <div class="FormRow">
        <div class="FormFieldContainer">
          <label class="control-label">Relationship</label>
          <input class="form-control" type="text" placeholder="Relationship" formControlName="ec_relationship" required>
        </div>
      </div>
    </div>
  </div>
</div>