<div class="page-border">
  <div class="page-header">
    <h1>{{title}}</h1>
    <!-- <h2>Walk in Love</h2>
    <p><i>"And walk in love, as Christ loved us and gave himself up for us, a fragrant offering and sacrifice to God." ~ Ephesians 5:2</i></p> -->
    <h1>Tutorial Registration Page Here</h1>
  </div>

  <div style="height: 100px;"></div>

  <!-- previous button -->
  <div class="nav-buttons" style="text-align: left;" *ngIf="page == 'reviewPage'">
    <button class="nav-button" [class.nav-button-active]="page == 'attendeesFormPage'" (click)="switchPage('attendeesFormPage')">Edit</button>
  </div>

  <!-- page content -->
  <div [ngSwitch]="page">
    <div *ngSwitchCase="'attendeesFormPage'">
      <app-attendee-form></app-attendee-form>
    </div>

    <div *ngSwitchCase="'reviewPage'">
      <app-review-page></app-review-page>
    </div>
  </div>

</div>


<!-- spacing -->
<div style="height: 30px;"></div>

<!-- next button -->
<div class="nav-buttons" *ngIf="page == 'attendeesFormPage'">
  <button class="nav-button" [class.nav-button-active]="page == 'reviewPage'" (click)="switchPage('reviewPage')">Next</button>
</div>

<!-- spacing -->
<div style="height: 200px;"></div>


<!-- <app-info-form></app-info-form> -->