<style>
  @import url('https://fonts.googleapis.com/css?family=Merienda');
</style>
<div class="page-header">
  <div class="page-border">
    <h1>{{titleOne}}</h1>
    <h1>{{titleTwo}}</h1>
    <img src="../assets/logo.png">
    <p style="font-family: 'Merienda', cursive">
      <i>"And walk in love, as Christ loved us and gave himself up for us, a fragrant offering and sacrifice to God." ~ Ephesians
        5:2
      </i>
    </p>
  </div>

</div>

<div class="page-border">
  <router-outlet>
    
  </router-outlet>
</div>