<div class="title-container">
  <div class="title">
    Registration Info
  </div>
</div>


<div class="total-info">
  Total Registers:
  <span *ngIf="people.length != undefined">{{people.length}}</span>
  <span *ngIf="people.length == undefined">0</span>
</div>

<!-- Attendee Forms -->
<form [formGroup]="attendeeForm" (ngSubmit)="onSubmit()" #checkout="ngForm" class="checkout">

  <!-- <button type="button" (click)="partialUpdate()">Partial Update</button>
  <button type="button" (click)="fullUpdate()">Full Update</button>
  <button type="button" (click)="check()">Check</button>
  <button type="button" (click)="lazyOne()">Lazy One</button>
  <button type="button" (click)="lazyTwo()">Lazy Two</button> -->
  <div class="form-control">
    <h3>Personal Info</h3>

    <div class="FormRow">
      <div class="MediumFormFieldContainer">
        <label class="control-label">First Name</label>
        <input class="form-control" type="text" formControlName="first_name" placeholder="Enter Your First Name" (change)="addAttendee()"
          required>
        <!-- <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger">First Name is required</div> -->
      </div>
      <div class="MediumFormFieldContainer">
        <label class="control-label">Last Name</label>
        <input class="form-control" type="text" formControlName="last_name" placeholder="Enter Your Last Name" (change)="addAttendee()"
          required>
        <!-- <div [hidden]="last_name.valid || last_name.pristine" class="alert alert-danger">Last Name is required</div> -->
      </div>
    </div>
    <div class="FormRow">
      <div class="SmallFormFieldContainer">
        <label class="control-label">T-Shirt Size</label>
        <select class="form-control" formControlName="t_shirt" (change)="addAttendee()" required>
          <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
        </select>
        <!-- <div [hidden]="t_shirt.valid || t_shirt.pristine" class="alert alert-danger">T-shirt size is required</div> -->
      </div>
      <div class="SmallFormFieldContainer">
        <label class="control-label">Gender</label>
        <select class="form-control" formControlName="gender" (change)="addAttendee()" required>
          <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
        </select>
        <!-- <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">Gender is required</div> -->
      </div>
      <div class="SmallFormFieldContainer">
        <label class="control-label">Age</label>
        <input class="form-control" type="number" formControlName="age" placeholder="12" (change)="addAttendee()" required>
        <!-- <div [hidden]="age.valid || age.pristine" class="alert alert-danger">Age is required</div> -->
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label">Medical Issues/Allergies</label>
        <textarea class="form-control" type="text" formControlName="medical" placeholder="N/A" rows="5" (change)="addAttendee()"
          required></textarea>
        <!-- <div [hidden]="medical.valid || medical.pristine" class="alert alert-danger">Medical Information is required. Put N/A if you have none.</div> -->
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label">Address</label>
        <input class="form-control" type="text" placeholder="Enter Your Address" formControlName="address" (change)="addAttendee()"
          required>
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label">Address 2</label>
        <input class="form-control non-required" type="text" placeholder="N/A" name="address_2" formControlName="address_2" (change)="addAttendee()">
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="city">City</label>
        <input class="form-control" type="text" placeholder="Enter Your City" name="city" formControlName="city" (change)="addAttendee()"
          required>
      </div>
    </div>
    <div class="FormRow">
      <div class="MediumFormFieldContainer">
        <label class="control-label" for="state">State</label>
        <!-- <input class="form-control" type="text" placeholder="Enter Your State" name="state" formControlName="state" required> -->
        <select class="form-control" formControlName="state" (change)="addAttendee()" required>
          <option *ngFor="let state of states" [value]="state">{{state}}</option>
        </select>
      </div>
      <div class="MediumFormFieldContainer">
        <label class="control-label" for="zip">Zip Code</label>
        <input class="form-control" type="number" placeholder=" Enter Your Zip Code" name="zip_code" formControlName="zip_code" (change)="addAttendee()"
          required>
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="email">Email</label>
        <input class="form-control non-required" type="email" placeholder="Enter Your Email If You Have One" name="email" formControlName="email"
          (change)="addAttendee()">
      </div>
    </div>

    <h3 style="margin-top:20px;">Emergency Contact</h3>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="emergency_contact_first_name">First Name</label>
        <input class="form-control" type="text" placeholder="Enter First Name" name="emergency_contact_first_name" formControlName="emergency_contact_first_name"
          (change)="addAttendee()" required>
      </div>
      <div class="FormFieldContainer">
        <label class="control-label" for="emergency_contact_last_name">Last Name</label>
        <input class="form-control" type="text" placeholder="Enter Last Name" name="emergency_contact_last_name" formControlName="emergency_contact_last_name"
          (change)="addAttendee()" required>
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="emergency_contact_phone_number">Phone Number</label>
        <input class="form-control" type="number" placeholder="Enter Phone Number" name="emergency_contact_phone_number" formControlName="emergency_contact_phone_number"
          (change)="addAttendee()" required>
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="emergency_contact_relationship">Relationship</label>
        <input class="form-control" type="text" placeholder="Relationship" name="emergency_contact_relationship" formControlName="emergency_contact_relationship"
          (change)="addAttendee()" required>
      </div>
    </div>

    <h3 style="margin-top:20px;">Church Contact</h3>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="your_churches">Your Church</label>
        <!-- <input class="form-control" type="text" placeholder="Enter Your State" name="state" formControlName="state" required> -->
        <select class="form-control" formControlName="your_churches" (change)="addAttendee()" required>
          <option *ngFor="let your_churches of church_list" [value]="your_churches">{{your_churches}}</option>
        </select>
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="your_church">Your Church: If you chose "Other"</label>
        <input class="form-control non-required" type="text" placeholder="Enter Your Church Name" name="your_church" formControlName="your_church"
          (change)="addAttendee()">
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="your_church_point_of_contact_name">Your Church Point of Contact Name</label>
        <input class="form-control non-required" type="text" placeholder="Enter Your Church Point of Contact Name" name="your_church_point_of_contact_name"
          formControlName="your_church_point_of_contact_name" (change)="addAttendee()">
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="your_church_point_of_contact_number">Your Church Point of Contact Number</label>
        <input class="form-control non-required" type="number" placeholder="Enter Your Church Point of Contact Phone Number" name="your_church_point_of_contact_number"
          formControlName="your_church_point_of_contact_number" (change)="addAttendee()">
      </div>
    </div>

    <h3 style="margin-top:20px;">Days Attending</h3>
    <div class="FormRow">
      <div class="FormFieldContainer radio">
        <div *ngFor="let day of attendeeForm.controls['days'].controls; let i=index">
          <div class="checkbox">
            <input class="icheckbox_flat" id="flat-checkbox-2" type="checkbox" [formControl]="day" (change)="addAttendee()" />
            <label>{{days_chosen[i].name}}</label>
          </div>
        </div>
      </div>
    </div>
    
    <hr>
    <div class="FormFieldContainer">
      <ul class="pagination">
        <!-- <li class="active"> -->
        <!-- <a href="#">PREV</a> -->
        <!-- </li> -->
        <li class="user-entry" *ngFor="let person of people; let i = index" [ngClass]="{'active': currentAttendee === person}" (click)="loadAttendee(person, i);">
          <button type="button" *ngIf="people.length > 1" class="DeleteButton" (click)="deleteAttendee(i)">-</button>
          <div class="pagination-button">{{i+1}}</div>
        </li>
        <li>
          <a id="add-entry-box" (click)="createNewAttendee()">
            <i class="fa fa-plus fa-2x add-entry"></i>
          </a>
        </li>
        <!-- <li class="active"> -->
        <!-- <a href="#">NEXT</a> -->
        <!-- </li> -->
      </ul>
    </div>
  </div>


  <!-- <div style="height: 70px;"></div> -->

  <!-- <div class="title-container">
    <div class="title"> -->
  <!-- Church Contact -->
  <!-- Church Contact
    </div>
  </div> -->

  <!-- <div style="height: 40px;"></div> -->

  <!-- <div class="form-control">
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="your_church">Your Church</label>
        <input class="form-control" type="text" placeholder="Enter Your Church Name" name="your_church" formControlName="your_church" (change)="addAttendee()" required>
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="your_church_point_of_contact_name">Your Church Point of Contact Name</label>
        <input class="form-control" type="text" placeholder="Enter Your Church Point of Contact Name" name="your_church_point_of_contact_name" formControlName="your_church_point_of_contact_name" (change)="addAttendee()" required>
      </div>
    </div>
    <div class="FormRow">
      <div class="FormFieldContainer">
        <label class="control-label" for="your_church_point_of_contact_number">Your Church Point of Contact Number</label>
        <input class="form-control" type="number" placeholder="Enter Your Church Point of Contact Phone Number" name="your_church_point_of_contact_number" formControlName="your_church_point_of_contact_number" (change)="addAttendee()" required>
      </div>
    </div>
  </div> -->



  <!-- <div class="title-container">
    <div class="title">
      Payment
    </div>
  </div> -->

  <!-- <div class="page-border">
    <div class="form-control">

      <label for="card-info" id="card-title">Card Information</label>
      <div class="CardRow">
        <div id="card-info" #cardInfo></div>

        <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
      </div>
    </div>
  </div> -->
</form>

<!-- spacing -->
<div style="height: 30px;"></div>

<!-- next button -->
<div class="nav-buttons">
  <button class="nav-button next-button" routerLink="/review">Next</button>
</div>