<!-- spacing -->
<div style="height: 30px;"></div>

<div class="ty-header">
	Thank you for registering!
</div>

<div class="ty-info">
	You will receive a confirmation email shortly within the next 24 hours. If not, contact us at: <b>cvcfcontact@gmail.com.</b> Looking
	forward to seeing you there!
</div>

<div class="LinkContainer h4">
	<div class="row">
		<div class="MediumFormFieldContainer">
			<a class="LinkButton" href="https://www.facebook.com/cvcfministry/">
				Check out our Facebook
			</a>
		</div>
		<div class="MediumFormFieldContainer">
			<a class="LinkButton" href="https://cvcfministry.org">
				Return to CVCF Website
			</a>
		</div>
	</div>
</div>