// Colors

// Global
$lightest-bg-color: #fff0e8;
$light-bg-color: #ffdac4;
$bg-color: #f36f24;

// Form Field Status
$white: #fff;
$green: #42A948;
$red: #a94442;

// Disabled
$disabled-color-bg: #fff5f0;
$disabled-color-text: rgb(138, 138, 138);